<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../task.css">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form action="/edit/<%= event.id %>" method="POST">
        <input type="text" name="name" value="<%= event.name %>" required>
        <input type="date" name="date" value="<%= event.date %>" required></br>
        <textarea cols="40" rows="10" name="description" required><%= event.description %></textarea>
        <button type="submit">Update Event</button>
    </form>
    <a href="/home">Back to list</a>
</body>
</html>